version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: bumas-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: bumas_ansor
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: bumas-redis
    restart: unless-stopped
    ports:
      - '6379:6379'

volumes:
  postgres_data:
